@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Movie Database</h1>


    <h1 class="display-4">Please Select an Option:</h1>
    
    <h6 class="btn-lg"><a asp-area="" asp-controller="Home" asp-action="Registration">Register a Movie</a></h6>
    <h6 class="btn-lg"><a asp-area="" asp-controller="Home" asp-action="List">Movie List</a></h6>
    
</div>
